worker_processes  1;
events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;
    gzip  on;
    upstream backendserver {

        server {{ groups['masternode'][0] }}:6100;
        server {{ groups['workers'][0] }}:6100;
        server {{ groups['workers'][1] }}:6100;
        #upstream backendserver input here

    }
    server {
        listen       80;
        server_name  {{ ansible_host }};
        location / {
            root   html;

            proxy_pass   http://{{ ansible_host }}:3000;
            # proxy_pass input here

            index  index.html index.htm;
            add_header Access-Control-Allow-Origin *;
            add_header Access-Control-Allow-Methods 'GET, POST, OPTIONS';
            add_header Access-Control-Allow-Headers 'DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization';
            if ($request_method = 'OPTIONS') {
                return 204;
            }
        }
        location /api {
            proxy_pass   http://backendserver;
        }
        location /test {
            proxy_pass   http://backendserver;
        }
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }
}