
#searchBar {
  background-color:white;
  opacity: 0.8;
  position: absolute; 
  top: 15px; 
  left: 20px; 
  z-index: 1000; 
  border-radius: 4px;
  width: 570px;
  height: 40px;
  padding: 4px 10px;
  display: flex;
}
